In [ ]:
#1.Write a python program to convert a string to lower case

In [ ]:
a="MY NAME IS SHIVANI"
a.lower()

'my name is shivani'

In [ ]:
#2.Write a python program to convert only even indexed characters to lower case

In [11]:
x="SHIVANI"
Y=x[0]+x[1:2].replace("H","h")+x[2]+x[3:4].replace("V","v")+x[4]+x[5:6].replace("N","n")+x[6]
print(Y)

ShIvAnI

In [12]:
#3.Write a python program to convert only ODD indexed characters to lower case 
x="SUJATHA"
Y=x[0]+x[1:2].replace("U","u")+x[2]+x[3:4].replace("A","a")+x[4]+x[5:6].replace("H","h")+x[6]
print(Y)

SuJaThA

In [ ]:
#4.Write a python program to convert only even indexed characters to upper case

In [16]:
c="sunanda"
d=c[0]+c[1:2].replace("u","U")+c[2]+c[3:4].replace("a","A")+c[4]+c[5:6].replace("d","D")+c[6]
print(d)

sUnAnDa

In [ ]:
#5.Write a python program to convert only odd indexed characters to upper case

In [18]:
c="sumedha"
d=c[0]+c[1:2].replace("u","U")+c[2]+c[3:4].replace("e","E")+c[4]+c[5:6].replace("h","H")+c[6]
print(d)

sUmEdHa

In [ ]:
#6.Write a python program where you have different variable which contains your name
#,sex,age, phone no ,fathers name and mothers name.And by using this variable create a 
#variable named bio-data where you will use all this variable

In [ ]:
print('Enter your name:')
i= input()
print('my name is, ' +i)
print('Enter your age')
j= input()
print('my age is, ' +j)
print('Enter  your phone number')
k= input()
print('my phone mumber is, ' +k)
print('Enter fathers name')
l= input()
print('my fathers name is, ' +l)
print('Enter mothers name')
m= input()
print('my mothers name is, ' +m)

Enter your name:
nikshitha
my name is, nikshitha
Enter your age
21
my age is, 21
Enter  your phone number
8686318632
my phone mumber is, 8686318632
Enter fathers name
venkatesh
my fathers name is, venkatesh
Enter mothers name
kalpana
my mothers name is, kalpana

In [ ]:
biodata=print("my name is shivani\nmy mobile number is 0923849\nmy age is 21\nmy fathers name is madhav\nmy mothers name is sunanda\n")
print(biodata)

my name is shivani
my mobile number is 0923849
my age is 21
my fathers name is madhav
my mothers name is sunanda

None

In [ ]:
#7.Write a python program to count how many times “@” occurred

In [ ]:
z="$hiv'$ i$ $imple"
z.count("$")

4

In [ ]:
#8.Write a python program to get only names from the string

In [22]:
d="name1@gmail.com,name2@gmail.com,name3@gmail.com"
d.split("@gmail.com")
print(d)

name1@gmail.com,name2@gmail.com,name3@gmail.com

In [ ]:
#9.Given a string of odd length greater that 9,return a new string made of the middle three characters of a given String

In [ ]:
y="inspirational"
y[5:8]

'rat'

In [ ]:
#10. Write a python program to insert a 2 string in the middle of 1 string

In [ ]:
name1=444
name2="bhagavath{}geetha"
name2.format(name1)

'bhagavath444geetha'

In [ ]:
#11. Write a program to remove vowels from the entire alphabets

In [ ]:
letters=("a b c d e f g h i j k l m n o p q r s t u v w x y z")
vowels = ('a', 'e', 'i', 'o', 'u')
letters= letters.replace(x,"")
print(letters)

a b c d e f g h i j k l m n o p q r s t  v w x y z